{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
    <div class="comment-section">
        <h2>{{len .Comments}} Comments</h2>
        {{if .IsAuthenticated}}
        <div class="comment-form">
            <form action='/comment/create' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <input type='hidden' name='snippet_id' value='{{.Snippet.ID}}'>
                <input type='hidden' name='author' value='{{.User.Name}}'>
                
                <div>
                    {{with .Form.FieldErrors.content}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                    <textarea name='content' class='comment' placeholder='{{if eq (len .Comments) 0}}Be the first to comment...{{else}}Add a comment...{{end}}'>{{.Form.Content}}</textarea>
                    <input type='submit' value='Publish comment'>
                </div>
            </form>
        </div>
        {{end}}
        
        {{if .Comments}}
        <ul>
            {{range .Comments}}
            <li>
                <!-- Botões de upvote e downvote -->
                <div class="vote-buttons">
                    <a href='/comment/vote/{{.ID}}/1'>▲</a>
                    <strong>{{.Upvotes}}</strong>
                    <a href='/comment/vote/{{.ID}}/-1'>▼</a>
                </div>
                <!-- Detalhes do comentário -->
                <div class="comment-details">
                    <div class="author-time">
                        <strong>{{.Content}}</strong>
                        <time>{{humanDate .Created}}</time>
                    </div>
                    <p>{{.Author}}</p>
                </div>
            </li>
            {{end}}
        </ul>
        {{else}}
        <p class="no-comments">No comments yet.</p>
        {{end}}
    </div>
{{end}}